/* 
Name: Jasmine Wani
Date Created: 2025-10-22
Date Modified: 2025-10-22
Version: 1.0
*/


td {
    padding: 0.18em 0.35em;
}
th {
    padding: 0.07em 0.35em;
}
th {
    font-size: 1.25em;
}
input[type="submit"], input[type="reset"] {
    margin-top: 1em;
    margin-bottom: 1em;
}
th {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    width: 100%;
    background-color: #d7d7d7; 
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #a0d5e7, #ffffff);
    margin: 0;
    height: 100%;
    min-height: 100vh; /* page is height of the viewport */
}
form {
    flex-grow: 1;
    width: 80%;
    max-width: 900px;
    margin: 2em auto;
}

table {
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

h2 {
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
main {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    flex-grow: 1;
}
.image {
    text-align: left;
}
/* error messages*/

.error {
    color: red;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.pword-message {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
}
#review {
    margin-top: 5px;
}
table.output,
tr.output,
td.output {
    width: 500px;
    background-color: #d7d7d7;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: black;
}
td.output {
    width: 500px;
    background-color: rgb(133, 78, 43);
    padding: 10px;
    border-spacing: 2px;
}

/* ALERT BOX STYLES */
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightgray;
}
#alert-content {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 140px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}
#alert-content h4 {
   font-size: 20px;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: normal;
}
#close-alert {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.575);
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}